<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.myapp">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".Description_Activity_python"></activity>
        <activity android:name=".Activity_index_python" />
        <activity android:name=".Description_activity_js" />
        <activity android:name=".Js_index_activity" />
        <activity android:name=".Description_activity_css" />
        <activity android:name=".Css_index_activity" />
        <activity android:name=".Description_Activity_Html" />
        <activity android:name=".Html_index_activity" />
        <activity android:name=".VideoApp" />
        <activity
            android:name=".Fullscreen"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:theme="@style/Theme.AppCompat.NoActionBar" />
        <activity android:name=".Description_Activity_Cplus" />
        <activity android:name=".Cplus_Index_Activity" />
        <activity android:name=".C_Index_Activity" />
        <activity android:name=".Description_Activity_C" />
        <activity android:name=".SearchCategory" />
        <activity android:name=".AudioCard" />
        <activity android:name=".VideoCard" />
        <activity android:name=".TextCard" />
        <activity android:name=".Description_Activity_Java" />
        <activity android:name=".Subject_Index_Activity" />
        <activity android:name=".Content_Activity" />
        <activity android:name=".AllCategories" />
        <activity android:name=".PasswordActivity" />
        <activity android:name=".RegistrationActivity" />
        <activity android:name=".SecondActivity" />
        <activity android:name=".MainActivity" />
        <activity android:name=".OnBoarding" />
        <activity android:name=".UserDashboard" />
        <activity android:name=".DashboardScreen" />
        <activity android:name=".SlashScreen">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
    </application>

</manifest>